<li>
  <strong><%= servico.nome %></strong><br>
  <strong><%= servico.descricao %></strong><br>
  <strong><%= servico.preco %></strong><br>
  <!-- <% if servico.orcamento.any? %>
    Orçamentos:
    <ul>
      <% servico.orcamentos.each do |orcamento| %>
        <li>
          <%= orcamento.cidade %>
        </li>
      <% end %>
    </ul>
  <% end %> -->
</li>
