<li>
  <strong><%= orcamento.cidade %></strong><br>
  <% if orcamento.servicos.any? %>
    Orçamentos:
    <ul>
      <% orcamento.servicos.each do |servico| %>
        <li>
          <%= servico.nome %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
