<div class="container-fluid">
  <div class="row mt-10 justify-content-center">
    <div class="mx-auto my-auto text-center col-md-6">
      <div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">
        <div class="card-header">
          <h3><strong>Orçamento</strong></h3>
        </div>
        <div class="x_panel slide-in-blurred-top" style="background-color: white">
          <div id="backServices" style="margin: 2%;">
            <% @orcamentos.each do |orcamento| %>
              <%= button_to orcamento.cidade, orcamento, method: :get, class: 'btn btn-success btn-lg', id: 'servicesButton' %>
            <% end %>
          </div>
        </div>
        <div class="row justify-content-center" id="buttonEdit" style="margin-bottom:2%; margin-top:5%;">
          <div class="col-md-4">
            <%= button_to 'Novo Orçamento', new_orcamento_path, method: :get, class:'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
