<% if object.errors.any? %>
  <div>
    <strong>
      <%= pluralize(object.errors.count, 'erro') %> encontrado
    </strong>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
