<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class = "container-fluid scroll">
      <div class = "row h-100" id ="no_margin">
        <div class = "col-md-8 ">
          <div class = "card ">
            <div class = "card-body">
              <div class = "card-text">
                <div class="container">
                  <div class="row">
                    <div id="myCarousel" class="carousel  slide">

                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>

                      <div class="carousel-inner">
                        <div class="active item">  <img src="" height = "200" /></div>
                        <div class="item" align="center">  <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> Nosso cancro</div>
                        <div class="item">  <img src="" height = "200" /></div>
                      </div>

                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class = "col-md-4">
        <div class = "card">
         <div class = "card-body">
           <div class = "card-text">
             It has been 4 hours since I successfully sucked my own penis. Things are different now. As soon as mouth-to-penis contact was made I felt a shockwave through my body. I have reason to believe I have super strength and telekinesis now.. 3 hours after contact I noticed a van parked on my street but no one has entered or exited the car since its arrival. I fear for my safety, I'm not sure what sort of power I may have stumbled upon but it's possible that the government has found out. If I don't update this again please send help.
             <br><br><br><br><br>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</body>
