<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div  class="container-fluid">
    <div class="row mt-10 justify-content-center">
      <div class="col-md-6 text-center">
        <div  class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">

          <div class="card-header">
            <h3 style="font-size:150%; "><strong>Fale conosco </strong></h3>
              </div>
              <div class="x_panel slide-in-blurred-top" style="text-align:left;margin-left:10%;margin-top: 3% ">
                <div >
                    <%= render 'form', contact: @contact %>
                    <br />
                </div>
                
              </div> 
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="display:inline;">
    <div class="row mt-10 justify-content-center">
      <div class="mx-auto my-auto text-center col-md-6">
        <div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top" style="margin-left: 1%;">
          <div class="card-header">
            <h3><strong>Informações para Contato</strong></h3>
          </div>
          <div class="x_panel slide-in-blurred-top" style="background-color: white; align: left; margin-left: 5%;">
            <div id="backServices" style="margin: 2%;">
              <p><i class="fa fa-whatsapp fa-2x" aria-hidden="true"> </i> <b>+55 61 8211-6098</b> </p>
              <p><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i><a href="https://www.facebook.com/Plano-B-Monitoria-260380651074818/">           Facebook.com/Plano-B-Monitoria</a></p>
              <p><i class="fa fa-envelope-o fa-2x" aria-hidden="true">   </i> <b>  planob_monitoria@hotmail.com </b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>
