<div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">
  <div id="list" class="x_panel slide-in-blurred-top" style="background-color: white;">
    <p> aojsdaoushf9a whfoafouaheofhweifubsa[hsabf uwhfuioh efuwef uowaehf iwef qwiuehfi wefhwefusahu</p>
  </div>
</div>
