<!DOCTYPE html>
<html>
<head>
  <title>Sobre nos</title>
</head>
<body>
  <div class="container-fluid scroll">
    <div class = "row h-100" id ="no_margin">
       <div class = "col-md-12 ">
          <div class = "card " style="height: 400px">
               <div class="container-fluid bg-1 text-center">
                   <div align="center" style="height: 60px;background: #EEEEEE;line-height: 10px">
                      <h3 style="padding-top: 15px;padding-bottom: 20px;text-align: center;">Quem somos nós? </h3>
                   </div>
                   <div style="text-align: left;margin-top: 50px;padding-bottom: 50px;font-size: 18px;font-family: arial">
                     A Plano B – monitoria é um grupo constituídos por graduandos de Engenharia na UnB. Por meio de aulas particulares e os nossos métodos personalizados de ensino, levamos conhecimentos na área de exatas (matemática, física e química), facilitando o aprendizado durante o ensino fundamental e médio, e também, durante a jornada de preparação para o tão temido vestibular, em especial o Enem, PAS e UnB.  
                   </div>
               </div>
          </div>
      </div>
    </div>
      
    </div>
    
  </div>

</body>
</html>
