<!DOCTYPE html>
<html>
<head>
  <title>Sobre nos</title>
</head>
<body>
  <div class="container-fluid scroll">
    <div class = "row h-100" id ="no_margin">
       <div class = "col-md-12 ">
         <div class="container-fluid bg-1 text-center">
          <div class="card bg-light border-secondary mb-4 z-depth-2 slide-in-blurred-top">
             <div class="x_panel slide-in-blurred-top" style="margin: 5%; font-size: 20px;" id="backStyle">
               <img id="logo" src="../assets/planB.png" alt="Plano B Logo" style="margin-left: 30%; width: 40%; height: auto;">
               <br />
               <center style="margin-top: 5%;">A Plano B Monitoria, fundada em 2017, é uma iniciativa constituída por graduandos de Engenharia na UnB.</center>
               <center>
                 Por meio de aulas particulares e os nossos métodos personalizados de ensino, levamos
                 conhecimentos na área de exatas (matemática, física e química), facilitando o aprendizado
                 durante o ensino fundamental e médio, e também, durante a jornada de preparação para o tão
                 temido vestibular, em especial o Enem, PAS e UnB.
               </center>
             </div>
          </div>
      </div>
    </div>

    </div>

  </div>

</body>
</html>
