/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require home.scss
  *= require font-awesome
 */
@import "bootstrap";

/* YOUR CUSTOM STYLES */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-color: #317B22;
  margin-top: 7.25em;
}

#logo {
  -ms-transform: rotate(-4deg); /* IE 9 */
   -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
   transform: rotate(-4deg);
   width: 200px;
   height: auto;
   margin-left: 30%;
}

#navbarSupportedContent {
  margin-left: 8%;
}

#buttonsMenu {
  border: 0;
}
#navbartext {
  padding-top: 8%;
  padding-left: 20%;
}

#backStyle {
  margin: 10%;
  text-align: left;
}

#servicesButton {
  min-width:10em;
  min-height:1em;
  font-size: 2em;
  margin: 0.1em;
}
#servicesButton2{
  min-width:15em;
  min-height:1em;
  font-size:1em;
  margin: 0.1em;
  float: left;

}
.container-fluid{
  margin-top: 3%;
}

.planob-button-submit, .planob-button-back, .planob-button-show, .planob-button-destroy, .planob-button-edit {
  background-color: #4D62A0;
  align-self: center;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  cursor: pointer;
  border-width: 0;
  font-weight: bold;
}


.planob-button-submit:enabled:hover {
  background-color: #233B7F;
}

.planob-button-back {
  background-color: #5D737E;
}

.planob-button-back:enabled:hover {
  background-color: #44545C;
}

.planob-button-show {
  background-color: #157F1F;
}

.planob-button-show:enabled:hover {
  background-color: #105D17;
}

.planob-button-edit {
  background-color: #A6CFD5;
}

.planob-button-edit:enabled:hover {
  background-color: #79979B;
}

.planob-button-destroy {
  background-color: #E52D2D;
}

.planob-button-destroy:enabled:hover {
  background-color: #BC2525;
}

//////*About us css*/////////

.card{
  height: 600;
}
#whoAreUs{

  height: 60px;
  background: #EEEEEE;
}
#whoAreUsText{
  line-height: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}
#Description{
  text-align: left;
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 18px;
  font-family: arial;

}
#corpo{
  height: 350px;
}
