<%if user_signed_in? %>
<header class = "main-header">
	 <nav class="navbar fixed-top" id = "planob_bar">
      <div class="row h-100">

        <div class = "col-bg-2 align-self-center" id = "planob_service">
          <a href = "/servicos"><button class = "btn btn-outline-success card-body" type = "submit" id = "service_card">
            Serviços
          </button></a>
        </div>

        <div class = "col-bg-2 align-self-center" id = "planob_budget">
          <a href = "/orcamentos"><button class = "btn btn-outline-success card-body" type = "submit" id = "budget_card">
            Orçamento
          </button></a>
        </div>

        <div class = "col-bg-2 align-self-center">
          <a href="/"><img src = "../assets/planob.png" height = "100" id = "planob_image"/></a>
        </div>

        <div class = "col-bg-2 align-self-center" id = "planob_who">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "who_card">
            Quem somos
          </button></a>
        </div>

        <div class = "col-bg-2 align-self-center" id = "planob_contact_us">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "contact_card">
            Fale Conosco
          </button></a>
        </div>

			<div class = "col-bg-2 align-self-center" id = "logout_button">
				<%= link_to "Sair", destroy_user_session_path, method: :delete %>
			</div>


		<div class = "col-bg-2 align-self-center" id = "email">
			<p><%= current_user.email %></p>
		</div>

	</div>

    </nav>
</header>

<% else %>
<header class = "main-header">
	 <nav class="navbar fixed-top" id = "planob_bar">
      <div class="row h-100">

        <div class = "col-bg-2 align-self-center" id = "planob_service">
          <a href = "/servicos"><button class = "btn btn-outline-success card-body" type = "submit" id = "service_card">
            Serviços
          </button></a>
        </div>

        <div class = "col-bg-2 align-self-center" id = "planob_budget">
          <a href = "/orcamentos"><button class = "btn btn-outline-success card-body" type = "submit" id = "budget_card">
            Orçamento
          </button></a>
        </div>

        <div class = "col-bg-2 align-self-center">
          <a href="/"><img src = "../assets/planob.png" height = "100" id = "planob_image"/></a>
        </div>

        <div class = "col-bg-2 align-self-center" id = "planob_who">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "who_card">
            Quem somos
          </button></a>
        </div>

        <div class = "col-bg-2 align-self-center" id = "planob_contact_us">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "contact_card">
            Fale Conosco
          </button></a>
        </div>
      </div>

			<div class = "col-bg align-self-center" id = "login_button">
				<a href = "/users/sign_in"><button class = "btn btn-outline-success card-body" type = "submit" id = "contact_card">
					Login
				</button></a>
			</div>
    </nav>
</header>

<% end %>
