<header class = "main-header">
	 <nav class="navbar fixed-top" id = "planob_bar">
      <div class="row h-100">
        <div class = "col-bg-2 align-self-center" id = "planob_service">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "service_card">
            Serviços
          </button></a>
        </div>
        
        <div class = "col-bg-2 align-self-center" id = "planob_budget">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "budget_card">
            Orçamento
          </button></a>
        </div>

        <div class = "col-bg-2 align-self-center">
          <a href="/"><img src = "../assets/planob.png" height = "100" id = "planob_image"/></a>
        </div>
        
        <div class = "col-bg-2 align-self-center" id = "planob_who">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "who_card">
            Quem somos?
          </button></a>
        </div>
        
        <div class = "col-bg-2 align-self-center" id = "planob_contact_us">
          <a href = "/"><button class = "btn btn-outline-success card-body" type = "submit" id = "contact_card">
            Fale Conosco!
          </button></a>
        </div>
      </div>
    </nav>
</header>