<!DOCTYPE html>
<html>
  <head>
    <title>Plano B Monitoria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">
            <img id="logo" src="app/assets/images/planob.png" alt="Plano B Logo">
        </a> -->
        <ul class="navbar-brand">
          <li class="nav-item">
              <a class="nav-link" href="#">Logo</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Cadastre-se</a>
          </li>
        </ul>
    </nav>
  </body>

  <%= yield %>
</html>
